* {
  font-family: "Space Mono", monospace;
  font-size: 24px;
}

.wrapper {
  background-color: hsl(0, 0%, 100%);
  box-sizing: border-box;
  border: 2px dashed black;
  position: absolute;
  display: flex;
}

.section {
  margin: 20px;
}

.title-for-input,
.section-calculations-header,
.sum-button {
  font-size: 18px;
}

.title-for-input {
  color: hsl(186, 14%, 43%);
}

.input-text {
  border: 0;
  background-color: hsl(189, 41%, 97%);
  text-align: end;
}

.input-text::placeholder {
  color: hsl(184, 14%, 56%);
  opacity: 0.7;
  text-align: end;
}

.tip-button {
  color: hsl(0, 0%, 100%);
  display: inline-block;
  border: none;
  background-color: hsl(183, 100%, 15%);
  border-radius: 5px;
  height: 40px;
  width: 90px;
}

.sum-button {
  font-size: 16px;
  color: hsl(189, 41%, 97%);
  background-color: hsl(183, 100%, 15%);
  border-radius: 5px;
  border: none;
  height: 40px;
  width: 100px;
  margin-left: 200px;
  margin-top: 30px;
}

.calculations {
  background-color: hsl(183, 100%, 15%);
  border-radius: 12px;
  display: inline-block;
  align-items: end;
  padding: 25px;
}

.section-calculations-header {
  color: hsl(189, 41%, 97%);
  margin-bottom: 0;
}

.box-count {
  display: flex;
  justify-content: space-between;
}

.total {
  color: hsl(172, 67%, 45%);
  font-size: 30px;
  margin-top: 15px;
}

.note-to-header {
  color: hsl(184, 14%, 56%);
  font-size: 14px;
  margin-top: 0;
}

.reset-button {
  background-color: hsl(172, 67%, 45%);
  opacity: 0.2;
  border: none;
  border-radius: 5px;
  height: 2em;
  width: 15em;
}

@media screen and (min-width: 700px) {
  * {
    max-width: 700px;
  }

  .section {
    max-width: 50%;
    box-sizing: border-box;
    margin: 10px;
  }

  .reset-button {
    margin-top: 50px;
    width: 300px;
  }
}
